services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: brevly_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=url_shortener
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
